BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120

AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AlignArrayOfStructures: Left

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true